<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Wardrobe Inventory</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/Index">Home</a></li>
                    <li class="active"><a href="/Home/About">About</a></li>
                    <li class="active"><a href="/Home/Contact">Contact</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tops <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Tops/Index">Index</a></li>
                            <li><a href="/Tops/Create">Create</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bottoms <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Bottoms/Index">Index</a></li>
                            <li><a href="/Bottoms/Create">Create</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shoes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Shoes/Index">Index</a></li>
                            <li><a href="/Shoes/Create">Create</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accessories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Accessories/Index">Index</a></li>
                            <li><a href="/Accessories/Create">Create</a></li>

                        </ul>
                    </li>

                    <li>
                        @Html.Partial("_LoginPartial")
                </li>

            </ul>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
