@model IEnumerable<Wardrobe.Type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table">
    <div>
        <div>
            @Html.DisplayNameFor(model => model.Type1)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Bottom.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Sho.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Top.Name)
        </div>
        <div></div>
    </div>

@foreach (var item in Model) {
    <div>
        <div>
            @Html.DisplayFor(modelItem => item.Type1)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Accessory.Name)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Bottom.Name)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Sho.Name)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Top.Name)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id=item.TypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TypeID })
        </div>
    </div>
}

</div>
